HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/.tmp/
gradle/wrapper/caches/
gradle/wrapper/daemon/
gradle/wrapper/native/
gradle/wrapper/wrapper/
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

postgres-data/
redis-data/

uploads/
uploads-data/
*.null
*.log


.DS_Store

*.pdf

*.txt

#*.json
